@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Emerald</h1>
    <p>Home</p>
    <p>No. of Items: @ViewBag.ItemsCount</p>
    <p>Total Amount: @ViewBag.TotalAmount</p>
    <p>Contents Amount: @ViewBag.ContentsAmount</p>
    <p>Run Date From: @ViewBag.FirstRunDate To: @ViewBag.LastRunDate</p>

</div>
