@model EmeraldProg.Models.Item

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SerialNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SerialNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vendor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vendor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InstalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InstalPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Qty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Qty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchasedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchasedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InstalDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InstalDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RunDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RunDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location.LocationName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemType.ItemTypeName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ItemID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
